 .flex-container{
    display: flex;
    background-color: lightblue;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    justify-content: start;
    /* height: 500px; */
    /* align-items: end; */
    
 }

 .flex-item{
    background-color: lightgreen;
    height: 100px;
    flex: 1;
    /* width: 100px; */
    /* flex-basis: 300px; */
    border: 1px solid black;
 }

 .flex-item:nth-child(1){
    /* flex-shrink: 3; */
    /* flex-grow: 1; */
    /* order: 3; */
    /* align-self: center; */
 }

 .flex-item:nth-child(2){
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    /* order: 2; */
    /* align-self: center; */
 }

 .flex-item:nth-child(3){
    /* flex-shrink: 1; */
    /* flex-grow: 3; */
    /* order: 1; */
    /* align-self: end; */
 }